extends layout

block content

    .container
        h1 About Us
        p sdsdksnskjdnsadad rhnguregr iuriheur hruyerhueh uehwieuhqiuh urhwqiruqhriiu uehrqeurhwiruhi
        ul
            li dig it
            li bleed it
            li cry for it

        p Death note is the best thing to air .i had nebfas seen so much tenion and feer .heie jrlen ape asne kneji lasm dkeie kawsnw  wwknkdkmk knedkk dnek kkwmk smkww kwndck miedmo kkijedkd keije  keonfo nekje ejeienoeme efko eoekefi k neie jekn