extends layout

block content
    .jumbotron
      .container
        h1 How Can I Help You?
        p This is the first step to help you out
        a.btn.btn-primary(href='#') Learn more &raquo;
    .container
      .row
        .col-md-4
          h2 About us
          p xxmsmsxnakjxna ksnasasa,ssaas snaksjnaskjnas 
          br
          p mjbjdadjadjaamnssa  jakdjankj akjnasam kjn
          a.btn.btn-default(href='#') view details 
        .col-md-4
          h2 Services
          p xxmsmsxnakjxna ksnasasa,ssaas snaksjnaskjnas
          br
          p sjdaskdjadkandkja kjsdak kjsda ksjakd kjdak
          a.btn.btn-default(href='#') view details 
        .col-md-4
          h2 Get In Touch
          p xxmsmsxnakjxna ksnasasa,ssaas snaksjnaskjnas 
          br
          p dlkjcslidjsdi ksjnak msjnakjdn kjnakdj
          a.btn.btn-default(href='#') view details